.footer {
    background-color: $color-secondary;
    grid-column: full-start/full-end;


}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    align-items: center;


    // &__item {
    //     padding: .5rem;
    //     // margin-right: 1.5rem;
    //     text-align: center;
    //     background-color: #101d2c00;
    // }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-display;
        font-size: 1.4rem;
        color: #fff;
        padding: 1.5rem;
        text-align: center;
        display: block;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }

}

.copyright {
    font-size: 1.5rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
    font-family: $font-primary;
}

ul {
    list-style: none;
}